* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}
title {
    display: none;
}
ul {
    padding-inline-start: 0;
}
body {
    margin: 0;
}
/* Header */
.header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}
.logo {
    height: 3em;
    width: 3em;
    align-self: center;
}
a {
    text-decoration: none;
    font-style: italic;
}
.header a {

}
.header ul {
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 10px;
}
/*Hero*/
.Hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    height: 30em;
}
.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.Hero .main {
    font-size: 48px;
    font-weight: 900;
}

.Hero .button {
    background-color: #3882f6;
    color: #e5e7eb;
    width:fit-content;
    padding: .75em;
}
.bustermoves {
    max-width: 40%;
    max-height: 60%;
    align-self: center;
    flex-grow: 2;
}
/*Info*/
.info {
    display: flex;
    height: 30em;
    justify-content: space-evenly;
}
.topic {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-weight: 900;
}
.info ul {
    flex-flow: row nowrap;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.info li {
    width: 20%;
}
/*Quote*/
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 2em;
    background-color: #e5e7eb;
}
.call, .resp, .source {
    font-size: 36px;
    font-style: italic;
    width: 80%;
}
/*Recommendations*/
.recs {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    align-self: center;
    background-color: #3882f6;
    padding: 1em;
    border-radius: 7px;
    margin-top: 6em;
    margin-bottom: 4em;
}
.my_part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2vw;
}
.reachme {
    justify-content: center;
    width: 25%;
}
.recs img {
    align-self: center;
    width: 90%;
}
/*Sources*/
.credits {
    gap: 10px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1f2937;
    color: #f9faf8;
}
.credits ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
}
.credits p {
    margin-top: 0;
    margin-bottom: 0;
}
.credits p a {
    display: contents;
}
/*Flexboxes*/
.container {
    background-color: #1f2937;
    color: #f9faf8;
}
.second {
    font-size: 18px;
    color: #e5e7eb;
}